#base de datos
datosBaseDeDatos.php

#carpeta de imágenes
imagenes/**

#cookieAlert
cookieAlert.css
cookieAlert.js

#política de privacidad
politicaDePrivacidad.php

#carpeta de php mailer y enviar nueva clave
PHP MAILER/**
enviarNuevaClave.php

#archivos
enviarNuevaContra.php
reporteErrores.php
estilos.css
funciones.js
funciones.php
agregarGrupo.php
modificarPalabra.php
modificarGrupo.php
mostrarPalabra.php
mostrarGrupo.php




