#base de datos
datosBaseDeDatos.php

#carpeta de imágenes
imagenes/**

#cookieAlert
cookieAlert.css
cookieAlert.js

#política de privacidad
politicaDePrivacidad.php

#carpeta de php mailer y enviar nueva clave
PHP MAILER/**
enviarNuevaClave.php

#archivos
estilos.css
funciones.js
funciones.php
cerrarSesion.php
formularioIniciarSesion.php
formularioRegistro.php
pie.php
encabezado.php
reporteErrores.php
mostrarImagen.php
barraNavegacion.php



