#base de datos
datosBaseDeDatos.php

#carpeta de imágenes
imagenes/**

#cookieAlert
cookieAlert.css
cookieAlert.js

#política de privacidad
politicaDePrivacidad.php

#carpeta de php mailer y enviar nueva clave
PHP MAILER/**
enviarNuevaContra.php

#archivos
reporteErrores.php



README.md



